<div className="my-1 grid grid-cols-2 gap-4">
  <div className="flex flex-col">

<code>
    <pre>Values: {JSON.stringify(values, null, 2)}</pre>
    <pre>Errors: {JSON.stringify(errors, null, 2)}</pre>
{/*<pre>Touched: {JSON.stringify(touched, null, 2)}</pre>*/}
</code>

<div className="my-1">
	<span id="submit"></span>
    <button type="submit" className='flex w-full justify-center rounded bg-primary p-3 font-medium text-gray'>
        Save
      </button>
 </div>

</div>
<div className="flex flex-col">
  <div className="py-2">
  [section_instruction]
  </div>
</div>
</div>
